  extends ../layouts/main-layout

  block content

  main
  section.main-content
    .container-fluid
      .row
        .col-xxl-7.col-xl-6.col-lg-6col-md-12
          .hero-section.pb-5
            h1.hero-title.text-white.m-0
              | Удивительный мир
              br
              | компьютерных игр
            p.hero-desc.text-white.my-5
              | Познакомтесь с самыми популярными среди 
              br
              |  геймеров онлайн-играми. Узнайте, что нового
              |  происходит в виртуальном мире.
            a.bth.btn-purple.text-white(href='/') 
        .col-xxl-7.col-xl-6.col-lg-6col-md-12
          .card-games.d-flex.flex-column
            .first-card-row.d-flex.justifly-content-between
              .gta-img
                img(src='./img 2/img 2/gta.png' alt='')
              .fortnite-img
                img(src='./img 2/img 2/fort.png' alt='')
              .dota-img.mt-4
                img(src='./img 2/img 2/dota.png' alt='')
